<?xml version="1.0" encoding="UTF-8"?>

<!-- XML 선언부 -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- <environments default="production">

        <environment id="development">
            <transactionManager type="JDBC" />

            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                1. EZCONNECT
                <property name="url" value="jdbc:log4jdbc:mysql://localhost:3306/ADMIN" />

                2. TNSAlias
                <property name="url" value="jdbc:mysql://usr/local/mysql/TEST" />
                <property name="username" value="root" />
                <property name="password" value="1004" />
            </dataSource>
        </environment>

        <environment id="production">

            <transactionManager type="JDBC" />

            <dataSource type="POOLED">

                <property name="driver" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy" />
                <property name="url" value="jdbc:log4jdbc:oracle:thin:@db202110221034_high?TNS_ADMIN=/opt/OracleCloudWallet/ATP" />

                <property name="username" value="ADMIN" />
                <property name="password" value="Oracle12345!!!" />

                <property name="poolMaximumActiveConnections" value="10" />
                <property name="poolMaximumIdleConnections" value="3" />
                <property name="poolTimeToWait" value="20000" />
                <property name="poolPingQuery" value="SELECT 1 FROM dual" />
                <property name="poolPingEnabled" value="true" />
                <property name="poolPingConnectionsNotUsedFor" value="60000" />

                <property name="driver.encoding" value="utf8" />

            </dataSource>

        </environment>

    </environments>

<mappers>

        <mapper resource="BoardMapper.xml" />
        <mapper resource="TblBoardMapper.xml" />

        <mapper class="org.zerock.mybatis.persistence.EmployeesMapper" />
        <mapper class="org.zerock.mybatis.persistence.TimeMapper" />
    </mappers> -->

</configuration>