<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- FQCN 으로 작성 -->
<mapper namespace="com.wonjoejo.myapp.mapper.BoardMapper">

	<!-- 게시판 공지사항 목록조회 -->
    <select id="getnoticeList" resultType="com.wonjoejo.myapp.domain.BoardVO">
        <![CDATA[ 
            SELECT
                /*+ index_desc(qna_board) */ *
            FROM qna_board WHERE notice=1
            
        ]]>
    </select>
    
    <!-- 공지사항 페이징 처리된 목록조회 -->
    <select id="getnoticePage" resultType="com.wonjoejo.myapp.domain.BoardVO">     
        <![CDATA[ 
            SELECT
                /*+ index_desc(qna_board) */ *
            FROM qna_board WHERE notice=1
            OFFSET (#{currPage} - 1) * #{amount} ROWS 
            FETCH NEXT #{amount} ROWS ONLY
        ]]>
    </select>
    
    <!-- 공지사항 총 목록개수 반환  -->
     <select id="getNoticeCount" resultType="int">
        <![CDATA[ 
            SELECT count(board_idx)
            FROM qna_board
            WHERE notice = 1
        ]]>
    </select>
    
    <!-- 공지사항 게시물 등록 -->
    <insert id="insertNotice">
        INSERT INTO qna_board (member_id,title,content,notice)
		VALUES (#{member_id},#{title},#{content},1)
    </insert>
    
    <!-- <insert id="insertNoticeSelectKey">
        <selectKey keyProperty="board_idx" order="BEFORE" resultType="int">
            SELECT ISEQ$$_61790.nextval          
            FROM dual
        </selectKey>
        INSERT INTO qna_board (board_idx,member_id,title,content,notice)
        VALUES(#{board_idx},#{member_id},#{title},#{content},1)
    </insert> -->
    
     <!-- 공지사항 상세 조회 -->
    <select id="noticeread" resultType="com.wonjoejo.myapp.domain.BoardVO">
        SELECT * FROM qna_board WHERE board_idx=#{board_idx}       
    </select>

    <!-- 게시판 목록조회 -->
    <select id="getList" resultType="com.wonjoejo.myapp.domain.BoardVO">
        <![CDATA[ 
            SELECT
                /*+ index_desc(qna_board) */ *
            FROM qna_board WHERE notice=0
            
        ]]>
    </select>
    
    <!-- 페이징 처리된 게시판 목록조회 -->
    <select id="getListWithPaging" resultType="com.wonjoejo.myapp.domain.BoardVO">     
        <![CDATA[ 
            SELECT
                /*+ index_desc(qna_board) */ *
            FROM qna_board WHERE notice=0
            order by ref desc, depth asc
            OFFSET (#{currPage} - 1) * #{amount} ROWS 
            FETCH NEXT #{amount} ROWS ONLY
            
        ]]>
    </select>
    
     <!-- 게시판 총 목록개수 반환  -->
     <select id="getTotalCount" resultType="int">
        <![CDATA[ 
            SELECT count(board_idx)
            FROM qna_board
            WHERE board_idx > 0
        ]]>
    </select>
    
    <!-- 게시물 상세 조회 -->
    <select id="read" resultType="com.wonjoejo.myapp.domain.BoardVO">
        SELECT * FROM qna_board WHERE board_idx=#{board_idx}       
    </select>
    
     <!-- 새로운 게시물 등록 -->
    <insert id="insert">
        INSERT INTO qna_board (member_id,title,content,ref)
		VALUES (#{member_id},#{title},#{content},(select nvl(max(ref),0)+1 from qna_board))
    </insert>
    
    <insert id="insertSelectKey">
        <selectKey keyProperty="board_idx" order="BEFORE" resultType="int">
            SELECT ISEQ$$_61790.nextval          
            FROM dual
        </selectKey>
        INSERT INTO qna_board (board_idx,member_id,title,content)
        VALUES(#{board_idx},#{member_id},#{title},#{content})
    </insert>
    
    <!-- 게시글 수정 -->
    <update id="update">
        UPDATE qna_board 
        SET
        	member_id=#{member_id},
            title=#{title},
            content=#{content}
        WHERE
            board_idx=#{board_idx}           
    </update>

    <!-- 게시글 삭제 -->
    <delete id="delete">
        DELETE FROM qna_board WHERE board_idx=#{board_idx}
    </delete>
    

	<!-- 답글 작성 -->
    <insert id="insertReply">
        INSERT INTO QNA_BOARD (MEMBER_ID,TITLE,CONTENT,REF,DEPTH,STEP)
      	VALUES (#{member_id},#{title},#{content},#{ref},1,1) 
        <!-- VALUES ('MEMBERid99','답글','답글내용',99,1,1) -->
    </insert>
    
    <!-- 답글 수정 -->
    <update id="updateReply">
        UPDATE qna_board 
        SET
            title=#{title},
            content=#{content}        
        WHERE
             ref=#{ref} and depth=1           
    </update>
    
    <!-- 답글 삭제 -->
    <delete id="deleteReply">
        DELETE FROM qna_board WHERE ref=#{ref} and depth=1
    </delete>
    
    <!-- 답글 목록조회 -->
    <select id="getreplyList" resultType="com.wonjoejo.myapp.domain.BoardVO">
        <![CDATA[ 
            SELECT
                /*+ index_desc(qna_board) */ *
            FROM qna_board WHERE depth=1
            OFFSET (#{currPage} - 1) * #{amount} ROWS 
            FETCH NEXT #{amount} ROWS ONLY
        ]]>
    </select>
 
</mapper>
