<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonjoejo.myapp.mapper.BoxMapper">

    <select id="selectBoxList" resultType="com.wonjoejo.myapp.domain.BoxVO">

        <![CDATA[
        SELECT BOX.BOX_NO,
               BOX.MEMBER_ID,
               BOX_MODE,
               BOX_NAME,
               BOX_MEMO,
               BOX_PHOTO_NAME,
               BOX_PHOTO_PATH,
               REG_DATE
        FROM BOX
                 right outer join (SELECT * FROM BOX_PERMISSION ORDER BY NO DESC) BOX_PERMISSION
                                  on BOX.BOX_NO = BOX_PERMISSION.BOX_NO
        WHERE BOX_PERMISSION.MEMBER_ID = #{member_id}
          and BOX_PERMISSION.NO > 0
          and BOX_STATUS = 0
        order by no desc
        OFFSET (#{currPage} - 1) * #{amount} ROWS FETCH NEXT #{amount} ROWS ONLY
        ]]>

    </select>

    <insert id="insertBox">

        <selectKey keyProperty="box_no" resultType="int" order="BEFORE">
            SELECT BOX_NO_SEQ.nextval FROM DUAL
        </selectKey>

        INSERT INTO BOX (BOX_NO, MEMBER_ID, BOX_MODE, BOX_NAME, BOX_MEMO, BOX_PHOTO_NAME, BOX_PHOTO_PATH)
        VALUES (#{box_no}, #{member_id}, #{box_mode}, #{box_name}, #{box_memo}, #{box_photo_name}, #{box_photo_path})

    </insert>

    <!--  박스 모드별 BASE_CATEGORY 생성   -->
    <insert id="insertCategory">

        INSERT INTO BASE_CATEGORY(BOX_NO, CATE_NAME1, CATE_NAME2, CATE_NAME3, CATE_NAME4, CATE_NAME5)
        VALUES (#{box_no}, #{cate_name1}, #{cate_name2}, #{cate_name3}, #{cate_name4}, #{cate_name5})

    </insert>

    <!--박스 생성 시 생성자에게 마스터 권한 부여-->
    <insert id="insertMasterPermission">

        INSERT INTO BOX_PERMISSION(MEMBER_ID, BOX_NO, MASTER_PER)
        VALUES (#{member_id}, #{box_no}, #{master_per})

    </insert>

    <select id="selectBox" resultType="com.wonjoejo.myapp.domain.BoxVO">
        <![CDATA[
        SELECT
            /*+ index_desc(BOX) */
            *
        FROM BOX
        WHERE BOX_NO = #{box_no}
        ]]>

    </select>

    <update id="updateBox">
        UPDATE BOX
        SET BOX_NAME       = #{box_name},
            BOX_MEMO       = #{box_memo},
            BOX_PHOTO_NAME = #{box_photo_name},
            BOX_PHOTO_PATH = #{box_photo_path}
        WHERE BOX_NO = #{box_no}
    </update>

    <update id="deleteBox">
        UPDATE BOX
        SET BOX_STATUS = 1
        WHERE BOX_NO = #{box_no}
    </update>

    <select id="getTotalCount" resultType="int">
        SELECT count(BOX_PERMISSION.box_no)
        FROM BOX_PERMISSION,
             BOX
        WHERE BOX_PERMISSION.MEMBER_ID = #{member_id}
          and BOX_STATUS = 0
          and BOX.BOX_NO = BOX_PERMISSION.BOX_NO
    </select>

    <select id="getProductList" resultType="com.wonjoejo.myapp.domain.ProductVO">
        SELECT *
        FROM PRODUCT,
             BASE_CATEGORY,
             CATEGORY
        WHERE PRODUCT.BOX_NO = #{box_no}
          and PRODUCT.BOX_NO = BASE_CATEGORY.BOX_NO
          and CATEGORY.CATEGORY_NO = BASE_CATEGORY.CATEGORY_NO
    </select>

    <insert id="insertGroup">
        INSERT INTO BOX_PERMISSION(MEMBER_ID, BOX_NO, WRITE_PER, EDIT_PER, DELETE_PER)
        VALUES (#{member_id}, #{box_no}, 1, 1, 1)
    </insert>

</mapper>
