<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonjoejo.myapp.mapper.GroupMapper">

	<!--그룹원 목록  -->
	<select id="selectGroupMemberList" resultType="com.wonjoejo.myapp.domain.MemberVO">
		<![CDATA[
	
		SELECT 
		*
		FROM MEMBER m
		INNER JOIN BOX_PERMISSION p ON p.member_id = m.member_id
		WHERE p.BOX_NO = #{box_no}
		
		]]>	
	
	</select>
	
	<select id="checkMaster" resultType="com.wonjoejo.myapp.domain.BoxPermissionVO">
	SELECT *
	FROM BOX_PERMISSION
	WHERE member_id = #{member_id} and box_no = #{box_no}
	</select>
	
	<!--그룹원 권한 조회  -->
	
		<select id="selectGroupPermission" resultType="com.wonjoejo.myapp.domain.BoxPermissionVO" >
		<![CDATA[
		
			 SELECT 
			 *
			 FROM BOX_PERMISSION p
			 INNER JOIN MEMBER m ON p.member_id = m.member_id
			 WHERE BOX_NO = #{box_no}
		]]>	
	
	</select>
	
	<!-- 그룹원 권한 조회 2 -->
	<select id="selectGroupPermissionList" resultType="com.wonjoejo.myapp.domain.BoxPermissionMemberVO" >
	<![CDATA[

		 SELECT
		 no, p.member_id, box_no, master_per, write_per, read_per, edit_per, delete_per, member_stat, name, email, phone_number, photo_name, photo_path
		 FROM BOX_PERMISSION p
		 INNER JOIN MEMBER m ON p.member_id = m.member_id
		 WHERE BOX_NO = #{box_no}
	]]>

</select>
	

	<!--그룹 가입-->
	<insert id="insertMember">

		INSERT INTO BOX_PERMISSION(NO, BOX_NO, MEMBER_ID, MASTER_PER, WRITE_PER, READ_PER, EDIT_PER, DELETE_PER,
								   MEMBER_STAT)
		VALUES (#{no}, #{box_no}, #{member_id}, #{master_per}, #{write_per}, #{read_per}, #{edit_per}, #{delete_per},
				#{member_stat})

	</insert>


	<!--그룹 권한 변경-->
	<update id="updateMaster">
		UPDATE BOX_PERMISSION
		<choose>
			<when test="master_per==0">
				SET
				MASTER_PER=#{master_per},
				READ_PER=0,
				WRITE_PER=0,
				EDIT_PER=0,
				DELETE_PER=0
			</when>
			<otherwise>
				SET MASTER_PER=#{master_per}
			</otherwise>
		</choose>
		WHERE MEMBER_ID = #{member_id}
		and BOX_NO = #{box_no}
	</update>




	<!-- 그룹 탈퇴 -->
	<update id="deleteMember">
		UPDATE BOX_PERMISSION
		<choose>
		<when test ="member_stat==0">
		SET
		MEMBER_STAT= #{member_stat},
		READ_PER=1,
		WRITE_PER=1,
		EDIT_PER=1,
		DELETE_PER=1
		</when>
		  </choose>
		WHERE BOX_NO = #{box_no}
		AND MEMBER_ID = #{member_id}
	</update>

	<!-- 멤버 검색 -->
	<select id="findMember" resultType="String">
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>


</mapper>
