<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonjoejo.myapp.mapper.MemberMapper">

    <!-- 회원가입 -->
    <insert id="insertMember">

        INSERT INTO MEMBER (MEMBER_ID, MEMBER_TYPE, MEMBER_STATUS, NAME, PASSWORD, EMAIL, PHONE_NUMBER, PHOTO_NAME, PHOTO_PATH, COMPANY_NAME)
        VALUES (#{member_id}, #{member_type}, #{member_status}, #{name}, #{password}, #{email}, #{phone_number}, #{photo_name}, #{photo_path}, #{company_name})

    </insert>

    <!-- 로그인 -->
    <select id="selectMember" resultType="com.wonjoejo.myapp.domain.MemberVO">

        <![CDATA[

        SELECT *
        FROM MEMBER
        WHERE 
            MEMBER_ID=#{member_id}
            AND PASSWORD=#{password}

        ]]>

    </select>

    <!-- 자동 로그인 -->
    <select id="selectMemberWithRemberMe" resultType="com.wonjoejo.myapp.domain.MemberVO">

        <![CDATA[

        SELECT *
        FROM MEMBER
        WHERE
            REMEMBERME = #{rememberMe}
            AND REMEMBERAGE > sysdate

        ]]>

    </select>

    <update id="updateMemberWithRememberMe">
        UPDATE MEMBER 
        SET
        REMEMBERAGE = #{rememberme},
        REMEMBERAGE = #{rememberage}
        WHERE MEMBER_ID=#{member_id}
    </update>


    <!-- 아이디 찾기 -->
    <select id="selectId" resultType="com.wonjoejo.myapp.domain.MemberVO">
        <![CDATA[

            SELECT MEMBER_ID 
            FROM MEMBER 
            WHERE EMAIL=#{email}

        ]]>
        
    </select>

    <!-- 비밀번호 변경 -->
    <update id="updatePwd">
        UPDATE MEMBER 
        SET
        PASSWORD = #{password}
        WHERE EMAIL = #{email}
    </update>

    <!-- 회원 정보 수정 -->
    <update id="updateMember">
        UPDATE MEMBER 
        SET
        NAME = #{name},
        PASSWORD = #{password},
        EMAIL = #{email},
        PHONE_NUMBER = #{phone_number},
        PHOTO_NAME = #{photo_name},
        PHOTO_PATH = #{photo_path}
        WHERE MEMBER_ID = #{member_id}
    </update>

    <!-- 회원 탈퇴 -->
    <delete id="deleteMember">
        DELETE
        FROM MEMBER 
        WHERE MEMBER_ID = #{member_id}
    </delete>

</mapper>
