<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonjoejo.myapp.mapper.ProductMapper">

    <!-- SELECT/INSERT/UPDATE/DELETE  각각의 SQL 문장을 저장하는 태그가 이미 준비되어 있다 (DTD에)-->

    <!-- 게시판 목록 조회 -->

    <!-- 비교 연산자(***, >, <)를 사용하는 SQL 문장 (DQL, DML) -->
    <!-- /*+ index_asc(tbl_board pk_board) */ *
        /*+ index desc(tbl_board pk_board) */* -->

    <!-- product list 조회 -->
    <select id="selectProductList" resultType="com.wonjoejo.myapp.domain.ProductVO">
        <![CDATA[
        SELECT
            /*+ index_desc(PRODUCT) */
            *
        FROM PRODUCT,
             CATEGORY,
             BASE_CATEGORY
        WHERE CATEGORY.CATEGORY_NO = BASE_CATEGORY.CATEGORY_NO
          AND PRODUCT.PRODUCT_NO = CATEGORY.PRODUCT_NO
          AND PRODUCT.BOX_NO = #{box_no}
        ]]>
    </select>


    <!-- product 1건 상세조회 -->
    <select id="selectProduct" resultType="com.wonjoejo.myapp.domain.ProductVO">
        <![CDATA[
        SELECT
            /*+ index_desc(PRODUCT) */
            *
        FROM PRODUCT
        WHERE PRODUCT_NO = #{product_no}
        ]]>
    </select>


    <!-- insert -->
    <insert id="insertProduct">
        <selectKey keyProperty="product_no" resultType="int" order="BEFORE">
            SELECT PRODUCT_NO_SEQ.nextval FROM DUAL
        </selectKey>

        INSERT INTO PRODUCT (PRODUCT_NO, BOX_NO, PRODUCT_NAME, PRODUCT_MEMO, PRODUCT_QTN,
        PRODUCT_PHOTO_NAME, PRODUCT_PHOTO_PATH, BARCODE)
        VALUES (#{product_no}, #{box_no}, #{product_name}, #{product_memo}, #{product_qtn},
        #{product_photo_name}, #{product_photo_path}, #{barcode})
    </insert>

    <!-- edit -->
    <update id="updateProduct">
        UPDATE PRODUCT
        SET PRODUCT_NAME       = #{product_name},
            PRODUCT_MEMO       = #{product_memo},
            PRODUCT_QTN        = #{product_qtn},
            PRODUCT_PHOTO_NAME = #{product_photo_name},
            PRODUCT_PHOTO_PATH = #{product_photo_path},
            BARCODE            = #{barcode}
        WHERE PRODUCT_NO = #{product_no}
    </update>


    <!-- delete -->
    <delete id="deleteProduct">
        DELETE
        FROM PRODUCT
        WHERE PRODUCT_NO = #{product_no}
    </delete>

    <!-- Category 생성 -->
    <insert id="insertCategory">
        <selectKey keyProperty="category_no" resultType="int" order="BEFORE">
            SELECT CATEGORY_NO FROM BASE_CATEGORY,PRODUCT WHERE BASE_CATEGORY.BOX_NO = PRODUCT.BOX_NO and PRODUCT_NO =
            #{product_no}
        </selectKey>

        INSERT INTO CATEGORY(CATEGORY_NO, PRODUCT_NO, CATE_DETAIL1, CATE_DETAIL2, CATE_DETAIL3, CATE_DETAIL4,
        CATE_DETAIL5)
        VALUES (#{category_no}, #{product_no}, #{cate_detail1}, #{cate_detail2}, #{cate_detail3}, #{cate_detail4},
        #{cate_detail5})

    </insert>

    <!-- Category 수정-->
    <update id="updateCategory">

        UPDATE CATEGORY
        SET CATE_DETAIL1 = #{cate_detail1},
            CATE_DETAIL2 = #{cate_detail2},
            CATE_DETAIL3 = #{cate_detail3},
            CATE_DETAIL4 = #{cate_detail4},
            CATE_DETAIL5 = #{cate_detail5}
        WHERE PRODUCT_NO = #{product_no}

    </update>


    <!-- Category 상세보기 -->
    <select id="selectCategory" resultType="com.wonjoejo.myapp.domain.CategoryVO">

        <![CDATA[
        SELECT
            /*+ index_desc(CATEGORY) */
            *
        FROM CATEGORY
        WHERE product_no = #{product_no}
        ]]>

    </select>

    <!-- Category 삭제 -->
    <delete id="deleteCategory">

        DELETE
        FROM CATEGORY
        WHERE PRODUCT_NO = #{product_no}

    </delete>

    <!-- BaseCategory 상세보기 -->
    <select id="selectBaseCategory" resultType="com.wonjoejo.myapp.domain.BaseCategoryVO">

        <![CDATA[
        SELECT
            /*+ index_desc(BASE_CATEGORY) */
            *
        FROM BASE_CATEGORY
        WHERE box_no = #{box_no}
        ]]>

    </select>

    <!-- 페이징 처리된 물품 리스트 조회 -->
    <select id="getListPaging" resultType="com.wonjoejo.myapp.domain.ProductVO">
        <![CDATA[
        SELECT
            /*+ index_desc(PRODUCT) */
            *
        FROM PRODUCT,
             CATEGORY,
             BASE_CATEGORY
        WHERE CATEGORY.CATEGORY_NO = BASE_CATEGORY.CATEGORY_NO
          AND PRODUCT.PRODUCT_NO = CATEGORY.PRODUCT_NO
          AND PRODUCT.BOX_NO = #{box_no}
        OFFSET (#{currPage} - 1) * #{amount} ROWS
        FETCH NEXT #{amount} ROWS ONLY
        ]]>

    </select>


    <!-- 총 물품 개수 반환  -->
    <select id="getTotalCount" resultType="int">
        <![CDATA[
        SELECT count(product_no)
        FROM product
        WHERE box_no = #{box_no}
        ]]>
    </select>

</mapper>
