<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonjoejo.myapp.mapper.ProductMapper">

    <!-- SELECT/INSERT/UPDATE/DELETE  각각의 SQL 문장을 저장하는 태그가 이미 준비되어 있다 (DTD에)-->

    <!-- 게시판 목록 조회 -->

    <!-- 비교 연산자(***, >, <)를 사용하는 SQL 문장 (DQL, DML) -->
    <!-- /*+ index_asc(tbl_board pk_board) */ *
        /*+ index desc(tbl_board pk_board) */* -->

    <!-- product list 조회 -->
    <select id="selectProductList" resultType="com.wonjoejo.myapp.domain.ProductCategoryVO">
        <![CDATA[
        SELECT
            PRODUCT.PRODUCT_NO,
            BASE_CATEGORY.BOX_NO,
            PRODUCT_NAME,
            PRODUCT_MEMO,
            PRODUCT_QTN,
            PRODUCT_PHOTO_NAME,
            PRODUCT_PHOTO_PATH,
            BARCODE,
            REG_DATE,
            BASE_CATEGORY.CATEGORY_NO,
            CATE_NAME1,
            CATE_NAME2,
            CATE_NAME3,
            CATE_NAME4,
            CATE_NAME5,
            CATE_DETAIL1,
            CATE_DETAIL2,
            CATE_DETAIL3,
            CATE_DETAIL4,
            CATE_DETAIL5
        FROM PRODUCT,
             CATEGORY,
             BASE_CATEGORY
        WHERE PRODUCT.BOX_NO = #{box_no}
          AND CATEGORY.CATEGORY_NO = BASE_CATEGORY.CATEGORY_NO
          AND PRODUCT.PRODUCT_NO = CATEGORY.PRODUCT_NO
        ORDER BY PRODUCT.PRODUCT_NO DESC
        ]]>
    </select>

    <!-- chart 물품 top5 -->
    <select id="selectProductTop" resultType="com.wonjoejo.myapp.domain.ProductVO">
        <![CDATA[
        SELECT PRODUCT_NO,
               BOX_NO,
               PRODUCT_NAME,
               PRODUCT_MEMO,
               PRODUCT_QTN,
               PRODUCT_PHOTO_NAME,
               PRODUCT_PHOTO_PATH,
               BARCODE,
               REG_DATE,
               UPDATE_DATE
        FROM PRODUCT
        WHERE box_no = #{box_no}
        ORDER BY PRODUCT_QTN DESC
        ]]>
    </select>

    <!-- chart 최신 입고 물품 -->
    <select id="selectProductDate" resultType="com.wonjoejo.myapp.domain.ProductVO">
        <![CDATA[
        SELECT PRODUCT_NO,
               BOX_NO,
               PRODUCT_NAME,
               PRODUCT_MEMO,
               PRODUCT_QTN,
               PRODUCT_PHOTO_NAME,
               PRODUCT_PHOTO_PATH,
               BARCODE,
               REG_DATE,
               UPDATE_DATE
        FROM PRODUCT
        WHERE box_no = #{box_no}
        ORDER BY REG_DATE DESC
        ]]>
    </select>

    <!-- 오늘 등록된 물품 개수  -->
    <select id="getRegTotalCount" resultType="int">
        <![CDATA[
        SELECT COUNT(PRODUCT_NO)
        FROM PRODUCT
        WHERE TO_CHAR(REG_DATE, 'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD')
        AND box_no = #{box_no}

        ]]>
    </select>

    <!-- 오늘 수정된 물품 개수  -->
    <select id="getEditTotalCount" resultType="int">
        <![CDATA[
        SELECT COUNT(PRODUCT_NO)
        FROM PRODUCT
        WHERE TO_CHAR(UPDATE_DATE, 'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD')
          AND box_no = #{box_no}

        ]]>
    </select>


    <!-- product 1건 상세조회 -->
    <select id="selectProduct" resultType="com.wonjoejo.myapp.domain.ProductVO">
        <![CDATA[
        SELECT
            /*+ index_desc(PRODUCT) */
            *
        FROM PRODUCT
        WHERE PRODUCT_NO = #{product_no}
        ]]>
    </select>


    <!-- insert -->
    <insert id="insertProduct">
        <selectKey keyProperty="product_no" resultType="int" order="BEFORE">
            SELECT PRODUCT_NO_SEQ.nextval FROM DUAL
        </selectKey>

        INSERT INTO PRODUCT (PRODUCT_NO, BOX_NO, PRODUCT_NAME, PRODUCT_MEMO, PRODUCT_QTN,
        PRODUCT_PHOTO_NAME, PRODUCT_PHOTO_PATH, BARCODE)
        VALUES (#{product_no}, #{box_no}, #{product_name}, #{product_memo}, #{product_qtn},
        #{product_photo_name}, #{product_photo_path}, #{barcode})
    </insert>

    <!-- edit -->
    <update id="updateProduct">
        UPDATE PRODUCT
        SET
            PRODUCT_NAME       = #{product_name},
            PRODUCT_MEMO       = #{product_memo},
            PRODUCT_QTN        = #{product_qtn},
            PRODUCT_PHOTO_NAME = #{product_photo_name},
            PRODUCT_PHOTO_PATH = #{product_photo_path},
            UPDATE_DATE        = CURRENT_DATE
        WHERE PRODUCT_NO = #{product_no}
    </update>


    <!-- delete -->
    <delete id="deleteProduct">
        DELETE
        FROM PRODUCT
        WHERE PRODUCT_NO = #{product_no}
    </delete>

    <!-- Category 생성 -->
    <insert id="insertCategory">
        <selectKey keyProperty="category_no" resultType="int" order="BEFORE">
            SELECT CATEGORY_NO FROM BASE_CATEGORY,PRODUCT WHERE BASE_CATEGORY.BOX_NO = PRODUCT.BOX_NO and PRODUCT_NO =
            #{product_no}
        </selectKey>

        INSERT INTO CATEGORY(CATEGORY_NO, PRODUCT_NO, CATE_DETAIL1, CATE_DETAIL2, CATE_DETAIL3, CATE_DETAIL4,
        CATE_DETAIL5)
        VALUES (#{category_no}, #{product_no}, #{cate_detail1}, #{cate_detail2}, #{cate_detail3}, #{cate_detail4},
        #{cate_detail5})

    </insert>

    <!-- Category 수정-->
    <update id="updateCategory">

        UPDATE CATEGORY
        SET CATE_DETAIL1 = #{cate_detail1},
            CATE_DETAIL2 = #{cate_detail2},
            CATE_DETAIL3 = #{cate_detail3},
            CATE_DETAIL4 = #{cate_detail4},
            CATE_DETAIL5 = #{cate_detail5}
        WHERE PRODUCT_NO = #{product_no}

    </update>


    <!-- Category 상세보기 -->
    <select id="selectCategory" resultType="com.wonjoejo.myapp.domain.CategoryVO">

        <![CDATA[
        SELECT
            /*+ index_desc(CATEGORY) */
            *
        FROM CATEGORY
        WHERE product_no = #{product_no}
        ]]>

    </select>

    <!-- Category 삭제 -->
    <delete id="deleteCategory">

        DELETE
        FROM CATEGORY
        WHERE PRODUCT_NO = #{product_no}

    </delete>

    <!-- BaseCategory 상세보기 -->
    <select id="selectBaseCategory" resultType="com.wonjoejo.myapp.domain.BaseCategoryVO">

        <![CDATA[
        SELECT
            /*+ index_desc(BASE_CATEGORY) */
            *
        FROM BASE_CATEGORY
        WHERE box_no = #{box_no}
        ]]>

    </select>

    <!-- 페이징 처리된 물품 리스트 조회 -->
    <select id="getListPaging" resultType="com.wonjoejo.myapp.domain.ProductCategoryVO">
        <![CDATA[
        SELECT
            PRODUCT.PRODUCT_NO,
            BASE_CATEGORY.BOX_NO,
            PRODUCT_NAME,
            PRODUCT_MEMO,
            PRODUCT_QTN,
            PRODUCT_PHOTO_NAME,
            PRODUCT_PHOTO_PATH,
            BARCODE,
            REG_DATE,
            BASE_CATEGORY.CATEGORY_NO,
            CATE_NAME1,
            CATE_NAME2,
            CATE_NAME3,
            CATE_NAME4,
            CATE_NAME5,
            CATE_DETAIL1,
            CATE_DETAIL2,
            CATE_DETAIL3,
            CATE_DETAIL4,
            CATE_DETAIL5

        FROM PRODUCT,
             CATEGORY,
             BASE_CATEGORY
        WHERE CATEGORY.CATEGORY_NO = BASE_CATEGORY.CATEGORY_NO
          AND PRODUCT.PRODUCT_NO = CATEGORY.PRODUCT_NO
          AND PRODUCT.BOX_NO = #{box_no}
        ORDER BY PRODUCT.PRODUCT_NO DESC  
        OFFSET (#{currPage} - 1) * #{amount} ROWS FETCH NEXT #{amount} ROWS ONLY
        ]]>

    </select>


    <!-- 총 물품 개수 반환  -->
    <select id="getTotalCount" resultType="int">
        <![CDATA[
        SELECT count(product_no)
        FROM product
        WHERE box_no = #{box_no}
        ]]>
    </select>
    

    <!-- 물품 검색  -->
    <select id="searchProduct" resultType="com.wonjoejo.myapp.domain.ProductCategoryVO">

        SELECT
        /*+ index_desc(PRODUCT) */
        p.PRODUCT_NO,
        BC.BOX_NO,
        PRODUCT_NAME,
        PRODUCT_MEMO,
        PRODUCT_QTN,
        PRODUCT_PHOTO_NAME,
        PRODUCT_PHOTO_PATH,
        BARCODE,
        REG_DATE,
        BC.CATEGORY_NO,
        CATE_NAME1,
        CATE_NAME2,
        CATE_NAME3,
        CATE_NAME4,
        CATE_NAME5,
        CATE_DETAIL1,
        CATE_DETAIL2,
        CATE_DETAIL3,
        CATE_DETAIL4,
        CATE_DETAIL5
        FROM PRODUCT p JOIN CATEGORY c on p.PRODUCT_NO = c.PRODUCT_NO
        JOIN BASE_CATEGORY BC on BC.CATEGORY_NO = c.CATEGORY_NO
        WHERE
        p.BOX_NO = #{box_no}
        <if test='keyword != null and !keyword.equals("")'>
            and (PRODUCT_NAME like '%'|| #{keyword} || '%'
            or PRODUCT_MEMO like '%'|| #{keyword} || '%'
            or CATE_NAME1 like '%' || #{keyword} || '%'
            or CATE_NAME2 like '%' || #{keyword} || '%'
            or CATE_NAME3 like '%' || #{keyword} || '%'
            or CATE_NAME4 like '%' || #{keyword} || '%'
            or CATE_NAME5 like '%' || #{keyword} || '%'
            or CATE_DETAIL1 like '%' || #{keyword} || '%'
            or CATE_DETAIL2 like '%' || #{keyword} || '%'
            or CATE_DETAIL3 like '%' || #{keyword} || '%'
            or CATE_DETAIL4 like '%' || #{keyword} || '%'
            or CATE_DETAIL5 like '%' || #{keyword} || '%')
        </if>

    </select>

    <update id="updateBarcode">
        UPDATE PRODUCT
        SET BARCODE = #{barcode}
        WHERE PRODUCT_NO = #{product_no}
    </update>
    
    
    <!-- 해당 물품의, 박스의, 멤버의, 멤버타입을 불러오기 -->
    <select id="checkMemberType" resultType="int">
	    SELECT 
	    p.BOX_NO,
	    b.MEMBER_ID,
	    m.MEMBER_TYPE
	
		FROM MEMBER m
		INNER JOIN BOX b
			ON b.MEMBER_ID = m.MEMBER_ID
		INNER JOIN PRODUCT p
			ON p.BOX_NO = b.BOX_NO
		
		WHERE b.BOX_NO = #{box_no} and p.PRODUCT_NO = #{product_no}
	</select>

    <!-- 물품 댓글 전체 삭제 -->
    <delete id="deleteProductComment">
        DELETE FROM product_comment 
        WHERE PRODUCT_NO =#{product_no}
    </delete>

</mapper>
