/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /*border: 0;*/
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ====== font ====== */

/* noto sans */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

/* 위메프 */

@font-face {
  font-family: "Wemakeprice-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wemakeprice-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wemakeprice-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 넥슨 */

@font-face {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  /* gradient */
  background: linear-gradient(26.81deg, #e2e3fc 65.34%, #d7f1f8 90.6%);
}

.container {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: column;
  /* Right */
  width: 80vw;
  height: 80vh;
  padding: 30px;
  overflow: hidden;
  /* background */
  background: rgba(255, 255, 255, 0.66);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.main-container h1 {
  font-family: "Wemakeprice-Bold", serif;
  float: left;
  color: #5a95f5;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 54px;
}

/* container */
.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  /* width: 90%; */
  background: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 4px 40px rgb(0 0 0 / 10%);
  width: 95%;
  margin: 2% auto;
}

/* top */
.top-right {
  display: flex;
  top: -13%;
  position: relative;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  left: 24.5%;
  font-family: "Noto Sans KR", sans-serif;
}

.mode-select {
  width: 115px;
  height: 38px;
  padding-left: 20px;
  background: url(/resources/assets/img/dropdown.png) no-repeat 87% 50%;
  color: #4e4e4e;
  border: 2px solid #b8b7f0;
  font-size: 15px;
  font-weight: 400;
}

#searchForm {
  display: contents;
  border: 2px solid #b8b7f0;
}

select {
  border-radius: 50px;
  border: none;
  background: #ffffff;
  /* box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1); */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.search {
  background: none;
  border: 2px solid #b8b7f0;
  border-radius: 40px;
  box-sizing: border-box;
  height: 38px;
  margin-left: 13px;
  position: relative;
  width: 195px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
}

.searchbtn {
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  border: none;
  border-radius: 24px;
  box-shadow: inset 0px 5px 10px rgba(149, 149, 149, 0.2);
  color: #ffffff;
  height: 38px;
  width: 75px;
  margin-left: 6px;
  text-align: center;
}

input:focus,
textarea:focus,
select:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #5a95f5;
  outline-width: 0;
}

/* 테이블 */

.member-table {
  text-align: center;
  width: 95%;
  font-family: "Noto Sans KR", sans-serif;
}

#tablehead {
  border-bottom: 1px solid #d8d8d8;
  height: 40px;
}

.tablecontainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  height: 60px;
  margin: auto;
  width: 97%;
  font-weight: 500;
}

.memberlist {
  margin-bottom: 8px;
  margin-top: 4px;
}

.item {
  flex-grow: 1;
  width: 2%;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

#timg {
  margin-left: 3px;
}

#ttype {
  margin-right: 2px;
}

#tid {
  margin-right: 2px;
}

#tname {
  margin-right: 3px;
}

#tmail {
  margin-right: 69px;
}

.type-content {
  font-family: "Wemakeprice-SemiBold";
  background: linear-gradient(to right, #4776e6, #8e54e9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 1.5;
}

.detailbtn {
  white-space: nowrap;
  padding: 2px 8px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  background-color: #dae9fc;
  color: #7b61ff;
  border: none;
  /* margin-right: 8%; */
  margin-left: 4%;
}

#pagination {
  margin: 0 auto;
  width: 95%;
}

.pagination {
  background: none;
  box-shadow: none;
  float: none;
  margin: 0 auto;
  width: 95px;
}

#pagination li {
  float: left;

  height: 30px;
  line-height: 30px;

  list-style: none;
  text-align: center;
  width: 60px;
}

/* Modal */
.modal-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: white;
}

.modal-item input {
  border: none;
  background: transparent;
  color: #959595;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  text-align: center;
}

#modal-profile {
  height: 118px;
  width: 118px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 6%;
  object-fit: cover;
}

#memberModal {
  position: absolute;
  background-color: #ffffff;
  width: 400px;
  height: 510px;
  margin: 5% auto;
  margin-top: 5%;
  font-family: "Noto Sans KR", sans-serif;
  border-image-slice: 1;
  border-style: solid;
  /* background: linear-gradient(26.81deg, #e2e3fc 65.34%, #d7f1f8 90.6%); */
  /* background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%); */
  background: linear-gradient(30deg, #ced0ff 49.34%, #e6faff 84.6%);
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  border: none;
}

.modal-content {
  background-color: transparent !important;
  border: none !important;
}

.modal-body {
  padding: 3%;
}

.modal-input {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}

.modal-input:hover {
  background-color: fade(white, 40%);
}

.modal-input:focus {
  background-color: white;
  width: 300px;
}

.modal-title {
  text-align: center;
  font-family: "NEXON Lv1 Gothic OTF bold";
  color: #959595;
}

.modal-header {
  border-bottom: 1px solid #959595 !important;
  margin: 0 6%;
  z-index: 100;
}

/* 버블버블 */
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  /*animation-delay: 2s;*/
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  /*animation-delay: 2s;*/
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}
