/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ====== font ====== */

/* noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}

/* 위메프 */
@font-face {
	font-family: 'Wemakeprice-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Wemakeprice-SemiBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Wemakeprice-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 넥슨 */

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NEXON Lv1 Gothic OTF Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	/* gradient */
	background: linear-gradient(26.81deg, #E2E3FC 65.34%, #D7F1F8 90.6%);
	font-family: 'Noto Sans KR', sans-serif !important;
}

.container {
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 90vw;
	justify-content: space-between;

}

.main-container {
	background: rgba(255, 255, 255, 0.66);
	border-radius: 50px;
	/* Right */
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	height: 80vh;

	/* background */

	overflow: hidden;
	padding: 30px;
	width: 80vw;
	
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

 .main-container::-webkit-scrollbar {
	-ms-overflow-style: none; 
}

.main-container::-webkit-scrollbar {
	display: none;
	width: 0 !important;

}

@media screen and (max-width: 767px){
	.main-container {
    width: 100%;
    height: 98%;
	}
}

.main-container h1 {
	font-family: 'Wemakeprice-Bold', serif;
	float: left;
	color: #5A95F5;
	font-weight: 500;
	font-size: 2.3rem;
	line-height: 54px;
}

@media screen and ( max-width: 767px){
	.main-container h1 {
		margin-left: 70px;
	}
}

.box-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

@media screen and ( max-width: 767px){
	.boxcreateform{
		width: 100%;
		height: 90%;
	}
}

.box-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 92%;
	padding: 10px;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0 auto;
}

.box {
	align-items: center;
	background: #FFFFFF;
	border-radius: 50px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important;
	color: #4E4E4E;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-family: 'NEXON Lv1 Gothic OTF Bold', sans-serif;
	height: 160px;
	justify-content: center;
	margin-bottom: 20px;

	margin: 30px;
	padding: 30px;
	width: 160px;
}

@media (min-width: 841px) and (max-width: 991px) {	
	.box {
		margin: 20px;
	}
}

@media screen and ( max-width: 767px){
	.box {
		margin: 10px;
	}
}



/* Grow */
.hvr-grow {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.box img {
	width: 70%;
	margin-bottom: 20px;
}

.form-container {
	width: 100%;
	font-family: 'NEXON Lv1 Gothic OTF', serif;
	color: #4E4E4E;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@media screen and ( max-width: 991px){
	.form-container {
		display: inline;
	}
}

@media screen and ( max-width: 767px){
	.form-container {
		width: 100%;
	}
}

.inputs input {
	border: none;
	background: #FFFFFF;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	height: 50px;
	margin-bottom: 30px;
	padding: 20px;
}

@media screen and ( max-width: 767px){
	.inputs input {
		width: 100%;
	}
}

textarea {
	background: #FFFFFF;
	border: none;
	border-radius: 50px;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding: 20px;
	resize: none !important;
}

.product-photo {
	width: 17vw;
	height: 17vw;
	position: relative;
	background: #FFF no-repeat center/40% url(/resources/assets/img/photo_name.png);
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: rgb(155, 153, 169);
	cursor: pointer;
	border-radius: 50px;
	background-size: cover;
}

@media screen and ( max-width: 767px){
	.product-photo {
		width: 30vw;
		height: 30vw;
		border-radius: 30px;
	}
}

.product-photo input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.box-photos {
	width: min-content;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 0;
	margin-right: 40px;
	margin-top: 10px;
}

@media screen and ( max-width: 991px){
	.box-photos {
		margin-bottom: 20px;
		
	}
}

#box-photo {
	border-radius: 0;
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.submit-btn {
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
	border: none;
	border-radius: 24px;
	box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
	color: #FFFFFF;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	height: 48px;
	margin-right: 5px;
	width: 102px;
}

.cancel-btn {
	color: #fff;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	width: 102px;
	height: 48px;
	background: #ADADAD;
	box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
	border-radius: 24px;
	border: none;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 17px;
}

/* Float */
.hvr-float {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}

.label {
	margin: 8px;
}

.input-container {
	display: flex;
	flex-direction: row;
}

.box-name {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.box-mode {
	display: flex;
	flex-direction: column;
}

.mode-select {
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 60px;
	background: url(/resources/assets/img/dropdown.png) #FFF no-repeat 87% 50%;
	color: #4E4E4E;
}

select {
	border-radius: 50px;
	border: none;
	background: #FFFFFF;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.cell {
	text-decoration: none;
	list-style: none;
	width: 10% !important;
	/*height: 100px;*/
	cursor: pointer;
	margin-right: 30px;
}

.photos img {
	width: 50px;
	border-radius: 50%;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	padding: 3px;
	border: 3px solid #FFF;
	background: #FFF;
}

.default-photos {
	margin-top: 10px;
	width: 50%;
}

.photos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	height: 100%;
}

.carousel {
	width: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(50%);
	width: 50%;
	height: 50%;
}

/* 박스리스트 버튼 */
.box-list-btn {
	float: right;
	width: 120px;
	height: 43px;
	border: none;
	border-radius: 1.4rem;
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
	color: white;
	font-size: 0.9rem;
	letter-spacing: 0.4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 767px){
	.box-list-btn {
		margin-bottom: 10px;
		width: 120px;
	}
}

.list-icon {
	margin-right: 8%;
	font-size: 1.2rem;
}


/* box detail page */

.list-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.box-info-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: #FFFFFF;
	border-radius: 25px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	color: #4E4E4E;

	font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
	height: 243px;
	margin-bottom: 20px;

	/*padding-left: 40px;*/
	width: 100%;
}

.box-information {

	/*align-content: center;*/
	/*align-items: center;*/
	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: flex-start;*/
	overflow: hidden;

}

.product-list {

	align-items: flex-start;
	background: #FFFFFF;
	border-radius: 25px;
	color: #4E4E4E;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	width: 100%;
	font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
	padding: 2%;
}

.box-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
}

@media screen and (max-width: 767px){
	.box-img {
		width: 45%;
		margin: 0 auto;
	}
}

.box-img img {
	width: 8vw;
}

@media screen and (max-width: 767px){
	.box-img img {
		width: 100%;
	}
}

.box-img span {
	margin-top: 20px;
}


.box-memo {
	width: 72%;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 767px){
	.box-memo {
		width: 45%;
    	margin: 0 auto;
	}
}

.title {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size: 1.05rem;
	margin-bottom: 5px;
}

.memo {
	/* Primary / Light * 300 */

	background: #FBFBFB;
	/* Dark / Variant * 200 */

	border: 1px solid #D6E4EC;
	border-radius: 8px;

	box-sizing: border-box;
	height: 125px;
	padding: 10px;

	/*width: 25vw;*/
}

.buttons > button {
	border: none;
	border-radius: 1.4rem;
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
	color: white;
	margin-right: 8px;
	font-size: 0.8rem !important;
}

@media screen and (max-width: 767px){
	.buttons > button {
		margin-right: 1px;
	}
}

/* 물품 리스트 */

.product-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.product-container {
	display: block;
	/* flex-direction: column;
	flex-wrap: wrap; */
	width: 90%;
	height: 60%;
	padding: 3px;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0 auto;
}

.product-list-container {
	align-self: auto;
	border-bottom: 0.5px solid rgba(90, 149, 245, 0.5);
	padding: 13px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;

}
@media screen and (max-width: 767px){
	
	.product-list {
		width: 100%;
	}
	
	.product-list-container {
		width: 100%;
	}
}

#product-list:last-child {
	border: none;
}

#product-img {
	width: auto;
	height: auto;
	max-width: 50px;
	max-height: 50px;
	margin: 0 5px;
	align-items: center;
	align-content: center;
}

/* 이미지 없을 경우 대체 */
#product-none-img {
	width: 50px;
	height: 50px;
	margin: 0 5px;

	border-radius: 25px;
	background-color: #1473E6;
	opacity: 0.2;
}


#product-name {
	width: 150px;
	font-family: 'NEXON Lv1 Gothic OTF Bold', sans-serif;
	margin: 5px;

	/* 내용이 길어지면 길어진 부분을 자르고 말줄임표 처리 */
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 767px){
	#product-name {
		width: 220px;	
	}
}

/* product list - 카테고리 */

#product-cate {
	display: flex;
	width: 600px;
	flex-wrap: nowrap;
	justify-content: flex-start;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 둥근테두리 박스들 */
#product-cate>div, #product-qtn {
	display: block;
	white-space: nowrap;

	/* 카테고리 공통 부분 */
	display: inline-block;
	padding: 2px 10px;
	margin: 5px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 7px;

	/* 내용이 길어지면 길어진 부분을 자르고 말줄임표 처리 */
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-cate-1 {
	color: #FC5569;
	background-color: #FEE5DD;
}

.product-cate-2 {
	color: #1473E6;;
	background-color: #DAE9FC;
}

.product-cate-3 {
	color: #EF5DA8;
	background-color: #FCDDEC;
}

.product-cate-4 {
	color: #39952A;
	background-color: #D3F7CD;
}

.product-cate-1:hover, .product-cate-2:hover, .product-cate-3:hover, .product-cate-4:hover {
	background-color: #C8EBFA
}

.product-cate-1:active, .product-cate-2:active, .product-cate-3:active, .product-cate-4:active {
	position: relative;
	top: 1px;
}

#product-qtn {
	background-color: #EDEDED;
	color: #261D1D;
	font-family: 'NEXON Lv1 Gothic OTF bold', sans-serif;
	text-align: center;
	width: 60px;
}

/* auto complete */

.form-autocomplete-list {
	background-color: #FFFFFF;
}

/*.form-autocomplete-list-item:hover {*/
/*	background-color: #A9BFF9*/
/*}*/

.form-autocomplete-list-item {
	padding: 5px;
}

.ui-menu-item-wrapper:hover {
	background-color: #5A95F5 !important;
	border: none !important;
}

.ui-menu-item-wrapper {
	border-radius: 20px;
	color: #4E4E4E;
}

ul.bs-autocomplete-menu {
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-radius: 4px;
	box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
	left: 0;
	max-height: 200px;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
}

ul.bs-autocomplete-menu a {
	color: #333333;
	font-weight: normal;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-state-active,
.ui-state-focus {
	background-color: #EEEEEE;
	color: #23527C;
}

.bs-autocomplete-feedback {
	height: 1.5em;
	margin-right: .5em;
	margin-top: .5em;
	overflow: hidden;
	width: 1.5em;
}

.loader {
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	background: #333333;
	background: -moz-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 42%);
	border-radius: 50%;
	font-size: 10px;
	height: 1.5em;
	position: relative;
	text-indent: -9999em;
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	width: 1.5em;
}

.loader:before {
	background: #333333;
	border-radius: 100% 0 0 0;
	content: '';
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
}

.loader:after {
	background: #FFFFFF;
	border-radius: 50%;
	bottom: 0;
	content: '';
	height: 75%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 75%;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* scroll */
.scroll {
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

/* 스크롤바 설정*/
.type2::-webkit-scrollbar {
	width: 8px;
}

/* 스크롤바 막대 설정*/
.type2::-webkit-scrollbar-thumb {
	height: 17%;
	background-color: rgb(72, 75, 218);
	border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.type2::-webkit-scrollbar-track {
	background-color: rgba(142, 200, 248, 0.288);
}

/*edit view*/

.product-photo-edit {
	width: 17vw;
	height: 17vw;
	position: relative;
	background: #FFF;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: rgb(155, 153, 169);
	cursor: pointer;
	border-radius: 50px;
	background-size: cover;
}

.product-photo-edit img {
	width: 250px;
	height: 250px;
}


/* Sweet Alert */
.swal2-show {
    border-image-source: repeating-linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    border-image-width: 5px !important;
    border-image-slice: 1 !important;
    border-style: solid !important;
    color: black !important;
}

.swal2-backdrop-show {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.swal2-html-container {
    font-family: "Noto Sans KR", sans-serif !important;
    color: black !important;
    font-size: 1.1rem !important;
}

.swal2-confirm {
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    border: none !important;
    border-radius: 24px !important;
    box-shadow: inset 0 5px 10px rgba(149, 149, 149, 0.2) !important;
    color: #FFFFFF !important;
}

.swal2-cancel {
    border: none !important;
    border-radius: 24px !important;
    box-shadow: inset 0 5px 10px rgba(149, 149, 149, 0.2) !important;
}





