/* ====== font ====== */

/* noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}

/* 위메프 */
@font-face {
	font-family: 'Wemakeprice-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Wemakeprice-SemiBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Wemakeprice-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 넥슨 */

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NEXON Lv1 Gothic OTF Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	/* gradient */
	background: linear-gradient(26.81deg, #E2E3FC 65.34%, #D7F1F8 90.6%);
}

.container {
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 90vw;
	justify-content: space-between;

}

.main-container {
	/* Right */
	width: 80vw;
	height: 80vh;
	padding: 30px;
	overflow: hidden;

	/* background */

	background: rgba(255, 255, 255, 0.66);
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
}

.main-container h1 {
	font-family: 'Wemakeprice-Bold', serif;
	color: #5A95F5;
	font-weight: 500;
	font-size: 2.3rem;
	line-height: 54px;
}

.box-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
}

.box-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	height: 90%;
	padding: 10px;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.box {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 15vw;
	height: 15vw;
	margin-right: 20px;
	margin-bottom: 20px;
	color: #4E4E4E;
	cursor: pointer;

	background: #FFFFFF;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 50px;

	font-family: 'NEXON Lv1 Gothic OTF Bold',sans-serif;

}

/* Grow */
.hvr-grow {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.box img {
	width: 70%;
	margin-bottom: 10px;
}

.form-container {
	width: 100%;
	font-family: 'NEXON Lv1 Gothic OTF', serif;
	color: #4E4E4E;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.inputs input {
	border: none;
	background: #FFFFFF;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	height: 50px;
	margin-bottom: 30px;
	padding: 20px;
}

textarea {
	border: none;
	background: #FFFFFF;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	margin-bottom: 20px;
	padding: 20px;
}

.product-photo {
	width: 17vw;
	height: 17vw;
	position: relative;
	background: #FFF no-repeat center/40% url(/resources/assets/img/photo_name.png);
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: rgb(155, 153, 169);
	cursor: pointer;
	border-radius: 50px;
	background-size: cover;
}

.product-photo input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.box-photos {
	width: min-content;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 0;
	margin-right: 40px;
	margin-top: 10px;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.submit-btn {
	color: #fff;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	width: 102px;
	height: 48px;
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
	box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
	border-radius: 24px;
	border: none;
	margin-right: 5px;
}

.cancel-btn {
	color: #fff;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	width: 102px;
	height: 48px;
	background: #ADADAD;
	box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
	border-radius: 24px;
	border: none;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-top: 20px;
}

/* Float */
.hvr-float {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}

.label {
	margin: 8px;
}

.input-container {
	display: flex;
	flex-direction: row;
}

.box-name {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.box-mode {
	display: flex;
	flex-direction: column;
}

.mode-select {
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 60px;
	background: url(/resources/assets/img/dropdown.png) #FFF no-repeat 87% 50%;
	color: #4E4E4E;
}

select {
	border-radius: 50px;
	border: none;
	background: #FFFFFF;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.cell {
	text-decoration: none;
	list-style: none;
	width: 10% !important;
	/*height: 100px;*/
	cursor: pointer;
	margin-right: 30px;
}

.photos img {
	width: 50px;
	border-radius: 50%;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	padding: 3px;
	border: 3px solid #FFF;
	background: #FFF;
}

.default-photos {
	margin-top: 10px;
	width: 50%;
}

.photos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	height: 100%;
}

.carousel {
	width: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(50%);
	width: 50%;
	height: 50%;
}




