/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ====== font ====== */

/* noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}

/* 위메프 */
@font-face {
	font-family: 'Wemakeprice-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Wemakeprice-SemiBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Wemakeprice-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 넥슨 */

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NEXON Lv1 Gothic OTF Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	/* gradient */
	background: linear-gradient(26.81deg, #E2E3FC 65.34%, #D7F1F8 90.6%);
	font-family: 'Noto Sans KR', sans-serif !important;
}

.container {
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 90vw;
	justify-content: space-between;

}

.main-container {
	/* Right */
	width: 80vw;
	height: 80vh;
	padding: 30px;
	overflow: hidden;

	/* background */

	background: rgba(255, 255, 255, 0.66);
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	
	/*scroll  */
	
}

.name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.main-container h1 {
	font-family: 'Wemakeprice-Bold', serif;
	float: left;
	color: #5A95F5;
	font-weight: 500;
	font-size: 2.3rem;
	line-height: 54px;
}


.group-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width :100%;
	margin-top : 1%;
}
.group-wrapper2 {
	display: flex;
	width :100%;
	justify-content: center;
	align-content: center;
	margin-top : 1%;
	background: white;
	border-radius : 10px;
}

.group-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 90%;
	padding: 10px;
	/* justify-content: space-around; */
	justify-content: center;
	align-content: center;
	align-items: center;

}

.group {
	margin-top:10px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 13.4vw;
	height: 14.3vw;
	margin-right: 40px;
	margin-bottom: 20px;
	color: #4E4E4E;
	cursor: pointer;
	background: #FFFFFF;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 45px;
	font-family: 'NEXON Lv1 Gothic OTF Bold',sans-serif;
	font-size : 0.9rem;
}

.groupmaster {
	margin-top:10px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 13.4vw;
	height: 14.3vw;
	margin-right: 40px;
	margin-bottom: 20px;
	color: #4E4E4E;
	cursor: pointer;
	background: rgb(255, 255, 255);
	border-style: solid;
	border-color :#8032fdb4;
    border-radius: 45px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 45px;
	font-family: 'NEXON Lv1 Gothic OTF Bold',sans-serif;
	font-size : 0.9rem;
}


/* Grow */
.hvr-grow {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	text-align: center;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.box img {
	width: 70%;
	margin-bottom: 10px;
}

.form-container {
	width: 100%;
	font-family: 'NEXON Lv1 Gothic OTF', serif;
	color: #4E4E4E;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.inputs input {
	border: none;
	background: #FFFFFF;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	height: 50px;
	margin-bottom: 30px;
	padding: 20px;
}

textarea {
	border: none;
	background: #FFFFFF;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	margin-bottom: 20px;
	padding: 20px;
}



.inputs {
	display: flex;
	flex-direction: column;
}

.submit-btn {
	color: #fff;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	width: 102px;
	height: 48px;
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
	box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
	border-radius: 1.4rem;
	border: none;
	margin-right: 5px;
}

.cancel-btn {
	color: #fff;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	width: 102px;
	height: 48px;
	background: #ADADAD;
	box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
	border-radius: 1.4rem;
	border: none;
}


.but > button {

	border: none;

	border-radius: 1.4rem;
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
	color: white;
	margin-right: 8px;
}

/* 박스리스트 버튼 */
.box-list-btn {
	color: #fff;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	width: 150px;
	height: 48px;
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
	box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
	border-radius: 1.4rem;
	border: none;
	margin-right: 5px;
}

.list-icon {
	margin-right: 8%;
	font-size: 1.2rem;
}



/* Float */
.hvr-float {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}

.label {
	margin: 8px;
}

.input-container {
	display: flex;
	flex-direction: row;
}

.box-name {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.box-mode {
	display: flex;
	flex-direction: column;
}

.mode-select {
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 60px;
	background: url(/resources/assets/img/dropdown.png) #FFF no-repeat 87% 50%;
	color: #4E4E4E;
}

select {
	border-radius: 50px;
	border: none;
	background: #FFFFFF;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}


/*edit view*/

#per {
	width: 25%;
}

#pertable {

	align-items: center;
	border-collapse: separate;
	border-spacing: 0 10px;
	margin: 1%;
	text-align: center;
	width: 100%;
}


table td {
	width: 100px;
	vertical-align: middle; /* 중앙정렬 */
}

#profile_img {

	border-radius: 50%;
	display: inline-block;
	height: 100px;
	margin-bottom: 5px;
	/*     object-fit: cover;   */
	overflow: hidden;
	padding: 8px;
	width: 100px;

}

#profile_permission { /*permissionlist용 사이즈*/

	border-radius: 5px;
	display: inline-block;
	height: 50px;
	overflow: hidden;
	/*     object-fit: cover;  이게 있으면 넘치는 부분이 잘림*/
	width: 50px;
}

.member-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
}

.member-name {
	display: flex;
	flex-direction: row;
	font-family: 'NEXON Lv1 Gothic OTF Bold', sans-serif;
	font-size: 1.2rem;
	justify-content: center;
}

.fa-crown {
	color: #FFE400;
	margin-right: 3px;
}

.scroll {
	height: 420px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}

/* 스크롤바 설정*/
.type2::-webkit-scrollbar {
	width: 8px;
}

/* 스크롤바 막대 설정*/
.type2::-webkit-scrollbar-thumb {
	background-color: rgb(72, 75, 218);
	border-radius: 10px;
	height: 17%;
}

/* 스크롤바 뒷 배경 설정*/
.type2::-webkit-scrollbar-track {
	background-color: rgba(142, 200, 248, 0.288);
}

.form-switch {
	display: flex;
	justify-content: center;

}


.groupout {

	background: crimson;
	border: none;
	border-radius: 50px;
	color: white;
	margin: 0;
	padding: 0.3rem 0.5rem;

}

#permission_o {
	height: 22px;
	width: 45px;
}

#permission_x {
	height: 22px;
	width: 45px;
}

/* Sweet Alert */
.swal2-show {
	border-image-slice: 1 !important;
	border-image-source: repeating-linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
	border-image-width: 5px !important;
	border-style: solid !important;
	color: black !important;
}

.swal2-backdrop-show {
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.swal2-html-container {
	color: black !important;
	font-family: "Noto Sans KR", sans-serif !important;
	font-size: 1.1rem !important;
}

.swal2-confirm {
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
	border: none !important;
	border-radius: 24px !important;
	box-shadow: inset 0 5px 10px rgba(149, 149, 149, 0.2) !important;
	color: #FFFFFF !important;
}

.swal2-cancel {
	border: none !important;
	border-radius: 24px !important;
	box-shadow: inset 0 5px 10px rgba(149, 149, 149, 0.2) !important;
}

#invite {
	border: none;
	font-family: 'Wemakeprice-Bold', sans-serif;
	font-size: 3rem;
	text-align: center;
	width: 200px;
}

.copy-btn {
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
	border: none !important;
	border-radius: 24px !important;
	box-shadow: inset 0 5px 10px rgba(149, 149, 149, 0.2) !important;
	color: #FFFFFF !important;
	margin-top: 10px;
	width: 80px;
}


