/* ====== font ====== */

/* noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 위메프 */
@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Wemakeprice-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Wemakeprice-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 넥슨 */

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* header */

#headerwrap{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /*background-color: rgba(249, 250, 253, 0);*/
    /*background-color: white;*/
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) -6%, rgba(219, 219, 250, 0.01) -5%, rgb(255, 255, 255) 86.46%, rgba(255, 255, 255, 0) 100%);
    transition: none 0s ease 0s;
    backdrop-filter: blur(10px);
    padding : 0.8rem;
    z-index: 1030;
    border-bottom: 1px solid ghostwhite;
}

.nav-shadow {
    box-shadow:  0px 5px 21px rgba(0,0,0,0.25);
}

.main-logo {
    width: 11%;
    float: left;
}

.main-logo img {
    width: 130%;
    padding-top: 6px;
    display: inline-block;
    vertical-align: middle;
}

.top-right {
    float: right;
    vertical-align: middle;
    line-height: 77px;
}
.login-btn {
    margin-left: 8px;
}
.join-btn, .login-btn {
    font-family: 'Wemakeprice-Bold';
    /*border: 1px solid #ADADAD;*/
    border: 1px solid #4E4E4E;
    border-radius: 0.7rem;
    padding: 8px;
    transition: all 0.3s ease 0s;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #4E4E4E;
    letter-spacing: 0.5px;
}

.join-btn:hover, .login-btn:hover {
    background-color: #5A95F5;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    color: #fff;
    transform: translateY(-10px);
    border: 1px solid #5A95F5;
}

/* section home*/

#home {
    background-color: #5A95F5;
    height: 721px;
}

.main-container {
    padding: 18% 9% 3% 9%;
    color:white;
    font-family: "Noto Sans KR Medium";
}

.main-container img {
    float: left;
}

.pointfont {
    float: right;
    margin-top: 11%;
    font-family: "NEXON Lv1 Gothic OTF Light";
    font-size: 38px;
}

.boxfont {
    font-family: Wemakeprice-Bold;
    font-size: 48px;
    margin-top: 25px;
    margin-left: 49%;
}

.home-box {
    width: 49%;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 0.7rem;
    color: white;
    padding: 3%;
    text-align: center;
    float: right;
    margin-top: 15px;
}

.fa-arrow-right {
    padding-left: 6%;
}

/* section2 */
#section2{
    background-color: #ffffff;
    height: 721px;
}

.section2_wrap{
    padding: 6% 9%;
    color: white;
    font-family: "Noto Sans KR Medium";
}

.content {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.con1 {
    float: left;
}

.title1 {
    background-color: #5A95F5;
    border-radius: 0px 1.2rem 1.2rem 1.2rem;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 46px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.16), 0px -1px 1px rgba(0, 0, 0, 0.08);
}

.title1-1 {
    margin-top: 15px;
    margin-left: 15px;
}

.con2 {
    margin-top: 210px;
    margin-bottom: 110px;
    float: right;


}

.title2 {
    background-color: #5A95F5;
    border-radius: 1.2rem 0rem 1.2rem 1.2rem;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 46px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.16), 0px -1px 1px rgba(0, 0, 0, 0.08);
}

.title2-2 {
    margin-top: 15px;
    line-height: 30px;
}

.content span {
    color: #5A95F5;
}

.con3 {
    clear: both;
}

.title3 {
    width: 26%;
    background-color: #5A95F5;
    border-radius: 0rem 1.2rem 1.2rem 1.2rem;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 46px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.16), 0px -1px 1px rgba(0, 0, 0, 0.08);
}

.title3-3 {
    margin-top: 15px;
    margin-left: 15px;
    line-height: 30px;
}

/* section3 */
#section3{
    background-color: #5A95F5;
    height: 721px;
}

.section3_wrap{
    padding: 6% 9%;
    color: white;
    font-family: "Noto Sans KR Medium";
}

.sec3-title {
    text-align: center;
}

.section3_wrap h1 {
    font-size: 2rem;
    font-weight: bold;
}