/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /*border: 0;*/
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ====== font ====== */

/* noto sans */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

/* 위메프 */

@font-face {
  font-family: "Wemakeprice-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wemakeprice-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wemakeprice-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 넥슨 */

@font-face {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  /* gradient */
  background: linear-gradient(26.81deg, #e2e3fc 65.34%, #d7f1f8 90.6%);
}

.container {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: column;
  /* Right */
  width: 80vw;
  height: 80vh;
  padding: 30px;
  overflow: hidden;
  /* background */
  background: rgba(255, 255, 255, 0.66);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.main-container h1 {
  font-family: "Wemakeprice-Bold", serif;
  float: left;
  color: #5a95f5;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 54px;
}

/* wrapper */
.page-wrapper {
  /* display: flex; */
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#myPageForm {
  display: flex;
  flex-direction: row;
  height: 70vh;
  justify-content: space-evenly;
  margin-left: 19%;
}

.my-wrapper1 {
  display: flex;
  align-content: center;
  align-items: center;
  height: 80%;
  width: 384px;
  flex-direction: column;
  background: white;
  border-radius: 50px;
  padding: 5%;
  margin: 2%;
  margin-right: 6%;
  justify-content: center;
}

.my-wrapper2 {
  display: flex;
  align-content: center;
  align-items: center;
  height: 80%;
  width: 384px;
  flex-direction: column;
  background: white;
  border-radius: 50px;
  padding: 5%;
  margin: 2%;
  justify-content: center;
}

#myPageForm input:focus,
#myPageForm textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #B8B7F0;
  outline-width: 0;
  /* background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%); */
}

.fs-title {
  font-size: 15px;
  color: #444b59;
  margin-top: 3%;
  margin-bottom: 6px;
  text-align: center;
  width: 370px;
  font-weight: 500;
  font-family: "Noto Sans KR";
}

.group .label {
  font-family: "Noto Sans KR", sans-serif;
  color: #444b59;
  font-size: 14px;
  margin: 8px 0 1px 14px;
  font-weight: 500;
}

.group {
  margin-bottom: 4%;
}

.input {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 14px;
  border-radius: 30px;
  color: #5a95f5;
  width: 287px;
  height: 38px;
  border: solid 2px;
}

/* profile image */
#profile-upload {
  /*background-image: url("");*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*background-color: lightgrey;*/
  /*border-radius: 50%;*/
  /*height: 118px;*/
  /*overflow: hidden;*/
  /*width: 118px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-top: 3%;*/
  /*margin-bottom: 3%;*/

  align-items: center;
  background: #FFFFFF no-repeat center/40% url(/resources/assets/img/photo_name.png);
  background-size: cover;
  border-radius: 50px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  color: rgb(155, 153, 169);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

/*#profile-upload:hover input.upload {*/
/*  display: block;*/
/*}*/
/*#profile-upload:hover {*/
/*  border: 1px solid gray;*/
/*}*/

/*#profile-upload:hover .profile-img {*/
/*  opacity: 1;*/
/*}*/

.profile-img {
  opacity: 0.3;
}

#profile-upload input.upload {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;

  /*!*cursor: pointer;*!*/
  /*bottom: 0;*/
  /*display: block;*/
  /*left: 0;*/
  /*margin: 0;*/
  /*opacity: 0;*/
  /*outline: none;*/
  /*padding: 0;*/
  /*position: absolute;*/

  /*top: 0;*/
  /*width: 100%;*/
  /*!*z-index: 1;*!*/
}

/* Float */
.hvr-float {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.submit-btn {
  color: #fff;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  width: 102px;
  height: 43px;
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
  border-radius: 24px;
  border: none;
  margin-right: 5px;
  font-size: 14px;
}

.cancel-btn {
  color: #fff;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  width: 102px;
  height: 43px;
  background: #adadad;
  box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
  border-radius: 24px;
  border: none;
  font-size: 14px;
}

.buttons {
  display: flex;
  position: relative;
  right: 36%;
  top: 85%;
}

.member-type__link {
  color: #fff;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  width: 102px;
  height: 43px;
  background: #5a95f5;
  box-shadow: 0 5px 10px rgba(149, 149, 149, 0.2);
  border-radius: 24px;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-type {
  display: flex;
  margin-bottom: 12%;
}

.type-title {
  margin-left: 5px;
}
