/* Reset CSS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====== font ====== */

/* noto sans */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}

/* 위메프 */

@font-face {
	font-family: 'Wemakeprice-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Wemakeprice-SemiBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Wemakeprice-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 넥슨 */

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	/* gradient */
	background: linear-gradient(26.81deg, #E2E3FC 65.34%, #D7F1F8 90.6%);
}

.container {
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 90vw;
	justify-content: space-between;
}

.main-container {
	display: flex;
	flex-direction: column;
	/* Right */
	width: 80vw;
	height: 80vh;
	padding: 30px;
	overflow: hidden;
	/* background */
	background: rgba(255, 255, 255, 0.66);
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
}

.main-container h1 {
	font-family: 'Wemakeprice-Bold', serif;
	float: left;
	color: #5A95F5;
	font-weight: 500;
	font-size: 2.3rem;
	line-height: 54px;
}

.product-main-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* search */

#top-search {
	width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: center;
    align-items: flex-end;
	align-content: space-around;
}

.search {
	position: relative;
	width: 70%;
	height: 30px;
	margin: 0px 20px;

	background: none;
	border: 1px solid #5a95f5;
	box-sizing: border-box;
	border-radius: 40px;
}

.searchimg {
	width: auto;
	height: auto;
	max-width: 25px;
	max-height: 25px;
}

.searchbtn {
	width: 75px;
	height: 30px;
	margin-top: 8px;
	background: #5a95f5;
	box-shadow: inset 0px 5px 10px rgba(149, 149, 149, 0.2);
	border-radius: 24px;
	border: none;
	color: #ffffff;
}

/* page */

#pagination {
	width: 95%;
	margin: 0 auto;
	margin-top: 80px;
}

.pagination {
	width: 95px;
	float: none;
	background: none;
	box-shadow: none;
	margin: 0 auto;
}

#pagination li {
	float: left;
	width: 60px;
	height: 30px;
	list-style: none;
	text-align: center;
	line-height: 30px;
	/* border: 1px solid black; */
}

/* 물품 리스트 */

.product-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.product-container {
	display: block;
	/* flex-direction: column;
	flex-wrap: wrap; */
	width: 90%;
	height: 60%;
	padding: 3px;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0 auto;
}

.product-list-container {
	align-self: auto;
	border-bottom: 0.5px solid rgba(90, 149, 245, 0.5);
	padding: 13px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;

}

/* 마지막 줄에는 border bottom 라인 제거 */
.product-container > div:last-child {
	border: none;
}



#product-img {
	width: auto;
	height: auto;
	max-width: 50px;
	max-height: 50px;
	margin: 0 5px;
	align-items: center;
	align-content: center;
}

/* 이미지 없을 경우 대체 */
#product-none-img {
	width: 50px;
	height: 50px;
	margin: 0 5px;
	
	border-radius: 25px;
	background-color: #1473E6;
	opacity: 0.2;
}


#product-name {
	width: 150px;
	font-family: 'NEXON Lv1 Gothic OTF Bold', sans-serif;
	margin: 5px;

	/* 내용이 길어지면 길어진 부분을 자르고 말줄임표 처리 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* product list - 카테고리 */

#product-cate {
	display: flex;
	width: 600px;
	flex-wrap: nowrap;
	justify-content: flex-start;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 둥근테두리 박스들 */
#product-cate>div, #product-qtn {
	display: block;
	white-space: nowrap;

	/* 카테고리 공통 부분 */
	display: inline-block;
	padding: 2px 10px;
	margin: 5px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 7px;

	/* 내용이 길어지면 길어진 부분을 자르고 말줄임표 처리 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-cate-1 {
	color: #FC5569;
	background-color: #FEE5DD;
}

.product-cate-2 {
	color: #1473E6;;
	background-color: #DAE9FC;
}

.product-cate-3 {
	color: #EF5DA8;
	background-color: #FCDDEC;
}

.product-cate-4 {
	color: #39952A;
	background-color: #D3F7CD;
}

.product-cate-1:hover, .product-cate-2:hover, .product-cate-3:hover, .product-cate-4:hover {
	background-color: #C8EBFA
}

.product-cate-1:active, .product-cate-2:active, .product-cate-3:active, .product-cate-4:active {
	position: relative;
	top: 1px;
}

#product-qtn {
	background-color: #EDEDED;
	color: #261D1D;
	font-family: 'NEXON Lv1 Gothic OTF bold', sans-serif;
	text-align: center;
	width: 60px;
}

/* auto complete */

.form-autocomplete-list {
	background-color: #FFFFFF;
}

/*.form-autocomplete-list-item:hover {*/
/*	background-color: #A9BFF9*/
/*}*/

.form-autocomplete-list-item {
	padding: 5px;
}

.ui-menu-item-wrapper:hover {
	background-color: #5A95F5 !important;
	border: none !important;
}

.ui-menu-item-wrapper {
	border-radius: 20px;
	color: #4E4E4E;
}

ul.bs-autocomplete-menu {
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-radius: 4px;
	box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
	left: 0;
	max-height: 200px;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
}

ul.bs-autocomplete-menu a {
	color: #333333;
	font-weight: normal;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-state-active,
.ui-state-focus {
	background-color: #EEEEEE;
	color: #23527C;
}

.bs-autocomplete-feedback {
	height: 1.5em;
	margin-right: .5em;
	margin-top: .5em;
	overflow: hidden;
	width: 1.5em;
}

.loader {
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	background: #333333;
	background: -moz-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 42%);
	border-radius: 50%;
	font-size: 10px;
	height: 1.5em;
	position: relative;
	text-indent: -9999em;
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	width: 1.5em;
}

.loader:before {
	background: #333333;
	border-radius: 100% 0 0 0;
	content: '';
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
}

.loader:after {
	background: #FFFFFF;
	border-radius: 50%;
	bottom: 0;
	content: '';
	height: 75%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 75%;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
