/* ====== font ====== */

/* noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: "Noto Sans KR", sans-serif;
}

/* 위메프 */
@font-face {
    font-family: "Wemakeprice-Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Wemakeprice-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Wemakeprice-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* 넥슨 */

@font-face {
    font-family: "NEXON Lv1 Gothic OTF Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic OTF Light";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* 햄버거 x */
#nav-icon4 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
    margin-left: 7px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
    margin-left: 7px;
    margin-top: 6px;

}

/* hamburger */

@keyframes drop {
    from {
        top: 0px;
    }

    /*70% {*/
    /*    top: 10px;*/
    /*    animation-timing-function: ease-in;*/
    /*}*/
    to {
        top: 50px;
        animation-timing-function: ease-in-out;
    }
}

.wrapper {
    position: relative;
    width: 41px;
    height: 41px;
    margin: 10px auto;
    float: right;
}

.button {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    z-index: 2;
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#F5F5FE, #F5F5FE), linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
}


.button__line {
    background: linear-gradient(51deg, #4776E6 0%, #8E54E9 100%);
    width: 61%;
    height: 3px;
    border-radius: 25%;
}

.button__line:not(:first-child) {
    margin-top: 4px;
}

.hamburger {
    width: 100%;
}

.menu__list {
    text-align: center;
    width: 100%;
    padding-left: 0;
}

.menu__list__item {
    position: relative;
    list-style: none;
    padding-bottom: 15px;
    top: 0px;
}

.menu__list__item a {
    text-decoration: none;
    color: grey;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.menu__list__item {
    padding-bottom: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    z-index: 2;
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#F5F5FE, #F5F5FE), linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
    opacity: 0;
}

.menu__list__item:hover {
    border: 2px solid #5A95F5;
}

.menu__list__item:hover .i-style {
    color: #5A95F5;
}

.menu__list--animate .menu__list__item {
    animation: drop 0.5s;
    animation-fill-mode: forwards;
    opacity: 1;
}

.menu__list--animate .menu__list__item:nth-child(2) {
    animation-delay: 0.5s;
}

.menu__list--animate .menu__list__item:nth-child(3) {
    animation-delay: 1s;
}

.menu__list__item:not(:first-child) {
    margin-top: 8px;
}

.i-style {
    font-size: 1.2rem;
    background: #4776E6;
    background: -webkit-linear-gradient(left, #4776E6, #8E54E9);
    background: -moz-linear-gradient(right, #4776E6, #8E54E9);
    background: -o-linear-gradient(right, #4776E6, #8E54E9);
    background: linear-gradient(to right, #4776E6, #8E54E9);
    -webkit-background-clip: text;
    color: transparent;
}


/* product detail */
.product-detail-wrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and ( max-width: 767px) {
    .product-detail-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px){
	.product-detail-wrap {
		display: inline;
	}
}

.left-box {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
}

@media screen and ( max-width: 767px) {
    .left-box {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        width: 100%;

    }
	
	.default-photos{
		top: 60px;
	}
}

.photo {
    align-items: center;
    background: #FFFFFF;
    background-size: cover;
    border-radius: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 16vw;
    justify-content: center;
    position: relative;
    width: 16vw;
}

#photo-default {
    max-width: 14vh;
    align-items: center;
    align-content: center;
    background: #FFF no-repeat center/40%;
}

#photo-upload {
    max-width: 14vh;
    max-height: 14vh;
    align-items: center;
    align-content: center;
    border-radius: 0;
}

#img-file-upload {
    border-radius: 7px;
    padding: 2px 10px;
    background-color: #ffffff;
}

/* 이미지 없을 경우 대체 */
#photo-none-img {
    width: 14vh;
    height: 14vh;

    border-radius: 25px;
    background-color: #1473E6;
    opacity: 0.2;
}

#box-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    border-radius: 0;
}


.qtn {
    font-family: "NEXON Lv1 Gothic OTF";
    width: 96%;
    height: 2.8vw;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    display: flex;
    font-size: 1rem;
}

@media screen and ( max-width: 767px) {
    .qtn {
        height: 30px;
        margin-top: 70px;
        width: 50%;
    }

}

.right-box {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .right-box {
        height: 300px;
        width: 100%;
    }

    .right-box ul {
        margin: 0;
        padding: 0;
    }

    .right-box ul li {
        display: flex;
        flex-direction: column !important;
        font-size: 1rem !important;
        height: 100px !important;
        margin-bottom: 1px !important;
        width: 415vw !important;
    }

    .comment-wrap {
        margin-top: 30vh !important;
    }

    .detail {
        justify-content: center;
        padding: 0 !important;
        width: 70vw !important;

    }

    #search {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        width: 90% !important;
    }

    .reg-date {
        display: none;
    }

}

.right-box ul {
    width: 47vw;
}

@media screen and (max-width: 767px){
	.right-box ul {
		width: 100%;
		padding: 0;
	}
}


.right-box ul li {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    height: 2.6vw;
    margin-bottom: 14px;
    width: 730px;

}

@media screen and (max-width: 767px){
	.right-box ul li {
		width: 100%;
		height: 50px;
		padding: 0;
	}
	
	.submit-btn{
		margin-top : 30px;
	}
	
	.cancel-btn{
		margin-top : 30px;
	}
}


.right-box ul li:not(:first-child) {
    margin-top: 5px;
}

.title {
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    font-family: "NEXON Lv1 Gothic OTF Bold", sans-serif;
    font-size: 1rem;
    height: 42px;
    justify-content: center;
    margin-right: 2%;
    position: relative;
    width: 17%;
}

.detail {
    align-items: center !important;
    background-color: white !important;
    border-radius: 1.5rem !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
    display: flex !important;
    height: 42px;
    padding-left: 3% !important;
    width: 33vw !important;
}

#detail-memo {
    height: 100px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail:active {
    border: 1px solid #5a95f5 !important;
}

.bar {
    width: 1%;
    height: 15px;
    background-color: black;
    margin-left: 10%;
    margin-right: 15%;
}

.qtn span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and ( max-width: 767px) {
    .qtn span {

    }

    button {
        padding: 0 !important;
    }
}

.share {
    font-family: "NEXON Lv1 Gothic OTF";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 0;
    cursor: pointer;
}


.share img {
    margin-right: 4%;
    width: 13%;
}

.kakao-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.kakao-btn:hover{
    color: #5A95F5;
    font-weight: bold;
}

.qr-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.qr-btn:hover {
    color: #5A95F5;
    font-weight: bold;
}

.more {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 0.95rem;
    position: absolute;
    left: 87%;
}

.more a {
    color: #5A95F5;

}

.photo span {
    color: #5A95F5;
    margin-top: 150px;
    font-size: 0.7rem;
}

.photo span i {
    margin-right: 7px;
}

.qtn span input {
    width: 30%;
    border: 1px solid #5a95f5;
}

.right-box li input {
    border: none;
}

.to-category {
    margin: 10px 1.5%;
    text-align: right;
    width: 43vw;
}

textarea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none !important;
}

/* .btn-product {
    margin-top: 65px;
} */



/* Sweet Alert */
.swal2-show {
    border-image-source: repeating-linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    border-image-width: 5px !important;
    border-image-slice: 1 !important;
    border-style: solid !important;
    color: black !important;
}

.swal2-backdrop-show {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.swal2-html-container {
    font-family: "Noto Sans KR", sans-serif !important;
    color: black !important;
    font-size: 1.1rem !important;
}

.swal2-confirm {
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    border: none !important;
    border-radius: 24px !important;
    box-shadow: inset 0 5px 10px rgba(149, 149, 149, 0.2) !important;
    color: #FFFFFF !important;
}

.swal2-cancel {
    border: none !important;
    border-radius: 24px !important;
    box-shadow: inset 0 5px 10px rgba(149, 149, 149, 0.2) !important;
}

/* scroll */
.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    width: 98%;
    padding: 15px 0;
}

/* 스크롤바 설정*/
.type2::-webkit-scrollbar {
    width: 8px;
}

/* 스크롤바 막대 설정*/
.type2::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: rgb(72, 75, 218);
    border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.type2::-webkit-scrollbar-track {
    background-color: rgba(142, 200, 248, 0.288);
}


/* 댓글 */
.comment-wrap {
    padding: 10px 0;
    width: 94%;
    background-color: #fff;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

}

/* search */

#search {
	position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.search {
    position: relative;
    width: 83%;
    height: 35px;
    background: none;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 40px;
    margin-right: 2%;
    padding: 0 1%;
}


.searchbtn {
    background: #707070;
    border: none;
    border-radius: 24px;
    box-shadow: inset 0px 5px 10px rgba(149, 149, 149, 0.2);
    color: #FFFFFF;
    font-size: 0.9rem;
    height: 35px;
    width: 85px;
}

.searchbtn i {
    margin-right: 3px;
}

#comment-box {
    font-family: "Noto Sans KR", sans-serif;
    padding: 0 3%;
}

@media screen and ( max-width: 767px) {
    #comment-box {
        display: flex;
        flex-direction: column !important;
    }
}

.comment {
    align-self: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 13px 0;
    font-size: 0.95rem;
}

.member-id {
    width: 17%;
    font-weight: 600;
}

.comment-content {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    width: 55%;
    height: auto;
    word-break: break-all;
}

.reg-date {
    font-size: 0.9rem;
    width: 15%;
}

.comment-button {
    width: 4%;
}



.no-comment {
    margin-top: 10px;
    text-align: center;
}

.list {
    background-color: transparent;
    border: none;
}
.comment-button i {
    font-size: 1.2rem;
}

.comment-modify i {
    margin-right: 30%;

}

.comment-modify {
    display: inline;
}

.comment-delete {
    display: inline;
}

.comment-modify-complete {
    display: none;
}

.comment-modify-complete i {
    margin-right: 30%;
}

.comment-modify-cancel {
    display: none;
}

/* mention */

.mention {
    background-color: #5A95F5;
    border-radius: 5px;
    color: #F5F9FF;
    cursor: pointer;
    font-weight: bold;
    margin-right: 4px;
}

/* mention */

.suggestions {
    /*float: top;*/
    margin: 0;
    padding: 0;
    position: absolute!important;
    /*perspective: 20px;*/
}

.detailsuggestions {
    left: 40px;
    top: 50px;
}

.suggestions li {
    background: white;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);*/
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    list-style: none;
    margin: 0;
    /*padding: 20px;*/
    text-transform: capitalize;
    transition: background 0.2s;
    width: 30% !important;
}

.suggestions li:hover {
    color: #4E4E4E;
}

/*.suggestions li:nth-child(even) {*/
/*    background: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%);*/
/*    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);*/
/*}*/

/*.suggestions li:nth-child(odd) {*/
/*    background: linear-gradient(to top, #FFFFFF 0%, #EFEFEF 100%);*/
/*    transform: perspective(100px) rotateX(-3deg) translateY(3px);*/
/*}*/



/* Modal */
.modal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: white;
}

.modal-item input {
    border: none;
    background: transparent;
    color: #6e6e6e;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    text-align: center;
}

#modal-profile {
    height: 118px;
    width: 118px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 6%;
}

#memberModal {
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 510px;
    margin: 5% auto;
    margin-top: 5%;
    font-family: "Noto Sans KR", sans-serif;
    border-image-slice: 1;
    border-style: solid;
    /* background: linear-gradient(26.81deg, #e2e3fc 65.34%, #d7f1f8 90.6%); */
    /* background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%); */
    background: linear-gradient(30deg, #ced0ff 49.34%, #e6faff 84.6%);
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    border: none;
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.modal-body {
    padding: 3%;
}

.modal-input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

.modal-input:hover {
    background-color: fade(white, 40%);
}

.modal-input:focus {
    background-color: white;
    width: 300px;
}

.modal-title {
    text-align: center;
    font-family: "NEXON Lv1 Gothic OTF bold";
    color: #6e6e6e;
}

.modal-header {
    border-bottom: 1px solid #6e6e6e !important;
    margin: 0 6%;
    z-index: 100;
}

/* 버블버블 */
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    /*animation-delay: 2s;*/
    animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    /*animation-delay: 2s;*/
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;
}
@-webkit-keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

