/* ====== font ====== */

/* noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: "Noto Sans KR", sans-serif;
}

/* 위메프 */
@font-face {
    font-family: "Wemakeprice-Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Wemakeprice-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Wemakeprice-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* 넥슨 */

@font-face {
    font-family: "NEXON Lv1 Gothic OTF Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic OTF Light";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* 햄버거 x */
#nav-icon4 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
    margin-left: 7px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
    margin-left: 7px;
    margin-top: 6px;

}

/* hamburger */

@keyframes drop {
    from {
        top: 0px;
    }

    /*70% {*/
    /*    top: 10px;*/
    /*    animation-timing-function: ease-in;*/
    /*}*/
    to {
        top: 50px;
        animation-timing-function: ease-in-out;
    }
}

.wrapper {
    position: relative;
    width: 41px;
    height: 41px;
    margin: 10px auto;
    float: right;
}

.button {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    z-index: 2;
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#F5F5FE, #F5F5FE), linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
}


.button__line {
    background: linear-gradient(51deg, #4776E6 0%, #8E54E9 100%);
    width: 61%;
    height: 3px;
    border-radius: 25%;
}

.button__line:not(:first-child) {
    margin-top: 4px;
}

.hamburger {
    width: 100%;
}

.menu__list {
    text-align: center;
    width: 100%;
    padding-left: 0;
}

.menu__list__item {
    position: relative;
    list-style: none;
    padding-bottom: 15px;
    top: 0px;
}

.menu__list__item a {
    text-decoration: none;
    color: grey;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.menu__list__item {
    padding-bottom: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    z-index: 2;
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#F5F5FE, #F5F5FE), linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
    opacity: 0;
}

.menu__list__item:hover {
    border: 2px solid #5A95F5;
}

.menu__list__item:hover .i-style {
    color: #5A95F5;
}

.menu__list--animate .menu__list__item {
    animation: drop 0.5s;
    animation-fill-mode: forwards;
    opacity: 1;
}

.menu__list--animate .menu__list__item:nth-child(2) {
    animation-delay: 0.5s;
}

.menu__list--animate .menu__list__item:nth-child(3) {
    animation-delay: 1s;
}

.menu__list__item:not(:first-child) {
    margin-top: 8px;
}

.i-style {
    font-size: 1.2rem;
    background: #4776E6;
    background: -webkit-linear-gradient(left, #4776E6, #8E54E9);
    background: -moz-linear-gradient(right, #4776E6, #8E54E9);
    background: -o-linear-gradient(right, #4776E6, #8E54E9);
    background: linear-gradient(to right, #4776E6, #8E54E9);
    -webkit-background-clip: text;
    color: transparent;
}



/* product detail */
.product-detail-wrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.left-box {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 0;
}

.photo {
    width: 14vw;
    height: 13vw;
    position: relative;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-size: cover;
}

#photo-default {
    max-width: 14vh;
    align-items: center;
    align-content: center;
    background: #FFF no-repeat center/40%;
}

#photo-upload {
    max-width: 14vh;
    align-items: center;
    align-content: center;
}

#img-file-upload {
    border-radius: 7px;
    padding: 2px 10px;
    background-color: #ffffff;
}

/* 이미지 없을 경우 대체 */
#photo-none-img {
    width: 14vh;
    height: 14vh;

    border-radius: 25px;
    background-color: #1473E6;
    opacity: 0.2;
}

#box-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}


.qtn {
    font-family: "NEXON Lv1 Gothic OTF";
    width: 96%;
    height: 2.8vw;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    display: flex;
    font-size: 1rem;
}

.right-box {
    display: flex;
    flex-direction: column;
}

.right-box ul {
    width: 47vw;
}

.right-box ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.6vw;
    font-size: 1rem;

}

.right-box ul li:not(:first-child) {
    margin-top: 5px;
}

.title {
    font-family: "NEXON Lv1 Gothic OTF";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29%;
    background-color: white;
    margin-right: 2%;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

.detail {
    display: flex;
    align-items: center;
    padding-left: 3%;
    width: 80%;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

#detail-memo {
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail:active {
    border: 1px solid #5a95f5 !important;
}

.bar {
    width: 1%;
    height: 15px;
    background-color: black;
    margin-left: 10%;
    margin-right: 15%;
}

.qtn span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share {
    font-family: "NEXON Lv1 Gothic OTF";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;

}

.share img {
    width: 14%;
    margin-right: 4%;
}

.more {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 0.95rem;
    position: absolute;
    left: 87%;
}

.more a {
    color: #5A95F5;

}

.photo span {
    color: #5A95F5;
    margin-top: 150px;
    font-size: 0.8rem;
}

.photo span i {
    margin-right: 7px;
}

.qtn span input {
    width: 30%;
    border: 1px solid #5a95f5;
}

.right-box li input {
    border: none;
}

.to-category {
    text-align: right;
    margin: 10px 1.5%;
}

textarea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none !important;
}

.btn-product {
    margin-top: 65px;
}



/* Sweet Alert */
.swal2-show {
    border-image-source: repeating-linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    border-image-width: 5px !important;
    border-image-slice: 1 !important;
    border-style: solid !important;
    color: black !important;
}

.swal2-backdrop-show {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.swal2-html-container {
    font-family: "Noto Sans KR", sans-serif !important;
    color: black !important;
    font-size: 1.1rem !important;
}

.swal2-confirm {
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    border: none !important;
    border-radius: 24px !important;
    box-shadow: inset 0 5px 10px rgba(149, 149, 149, 0.2) !important;
    color: #FFFFFF !important;
}

.swal2-cancel {
    border: none !important;
    border-radius: 24px !important;
    box-shadow: inset 0 5px 10px rgba(149, 149, 149, 0.2) !important;
}


/* mention */

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /*perspective: 20px;*/
}

.suggestions li {
    background: white;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 20px;
    text-transform: capitalize;
    transition: background 0.2s;
}

.suggestions li:nth-child(even) {
    background: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%);
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
}

.suggestions li:nth-child(odd) {
    background: linear-gradient(to top, #FFFFFF 0%, #EFEFEF 100%);
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
}